# ERC report

report created at {{time}} on {{date}}.

the electronic rules check found:
- {{total_errors}} errors in your design
- {{total_warns}} warns in your design

number of errors and warns breakdown per sheet:
| sheet name | number of errors | number of warns |
| ---------- | ---------------- | --------------- | 
{{#sheets}}
| {{name}} | {{number_of_errors}} | {{number_of_warns}} | 
{{/sheets}}
| total             |  {{total_errors}}                      | {{total_warns}}                       |

below is a more indepth breakdown of the errors and warn per sheets.
note you should only use this for quickly checking that the project
you uploaded has no error or warn. YOU SHOULD *NOT* use this to acutally
run your ERC in kicad so you can see where is erroring.

{{#sheets}}

# {{name}}
## errors : {{number_of_errors}}
{{#errors}}
### {{name}}
{{content}}
{{/errors}}

## warns : {{number_of_warns}} 
{{#warns}}
### {{name}}
{{content}}
{{/warns}}

{{/sheets}}